<body>
    <div>
        <h1>Welcome To The Admin Page</h1>
    </div>
    <button type="submit" (click)="homeButton()" class="btn btn-primary btn-sm">Back to Home</button>
    <div class="admin-view" id="list-games">
        <table id="users-table" style="margin-top: 1em;">
            <tr id="users-table-head">
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
                <th>Demote</th>
                <th>Remove</th>
            </tr>
        </table>
    </div>
</body>
