<body>
    <div>
        <h1>Welcome to the users page!</h1>
    </div>
    <button type="submit" (click)="homeButton()" class="btn btn-primary btn-sm">Back to Home</button>
    <div>
        <p>
            This is an app that generates a playlist based off of your top songs, as well as a combination of yours and any number of friends top songs.
            You can add yourself to a playlist then send a friend the code, which they can use to search for your playlist and join it.
        </p>
    </div>
</body>
